<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Layout</title>
	<link rel="stylesheet" href="estilos 2.0.css">
</head>
<body background="v.jpg">
<body>
	<div class="header">
		<h1 > FREE DOMP </h1>
		<p>Tu mejor opcion papu(8</p>
	</div>
	<div class="menu">
		<a href="https://efrainjb.github.io/Mi%20pagina/">Vistanos</a>
		<a href="https://es.wikipedia.org/wiki/Benny_Ibarra">Creador</a>
		<a href="https://www.youtube.com/watch?v=BJhj7KrrPSg">Exitos</a>
		<a href="https://www.youtube.com/watch?v=ZoXjbICW318">Ganaste un iPhone</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h1><a href="https://efrainjb.github.io/Mi%20pagina/">FREE DOMP</a></h1>
				<h3>Qué es Free Domp?<br>Es una pagina dedicada a las ventas que fue fundada en Febrero del 2019 por su desarrollador EJB.<br>También es conocida por ser mi primera pagina</h3>
				<img src="somos.jpg" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>°Mas informacion°<br><img src="vegeta.jpg"></h2>
				<a href="https://www.mercadolibre.com.mx/ayuda/terminos-y-condiciones-uso-del-sitio_2090">Click Aqui</a>
				
			</div>
		</div>
	</div>
	<div class="footer">
		<h2 style="color: blue">&copy; 2019</h2>
	</div>
</body>
</html>